# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.Adder.iml
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../:\Trash\TestCircleCi\.idea\.idea.Adder\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
